@import '../../../styles/colors.scss';
.footer {
    height: 20px;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    &__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    &__link {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
            color: $third-color;
        }
    }
}
