<footer class="footer">
    <div class="footer__container">
        <span class="footer__link" *ngFor="let link of footer.links"><a href={{link.linkUrl}}>{{link.linkName}}</a></span>
    </div>
</footer>
