<div class="discography">
    <div class="title__container">
        <h1 class="title__container-text">{{discografia.title}}</h1>
    </div>
    <div class="discography-show-event">
        <div class="discography__container-name">
            <p>{{discografia.discographyEvent.eventText}}</p>&nbsp;&nbsp;
            <h3> {{sonMessage}}</h3>
        </div>
        <button class="discography-btn" (click)="originalFormation()">{{discografia.discographyEvent.btnName}} </button>
    </div>
    <div class=" discography__container ">
        <div class="discography__container-disc " *ngFor="let disc of discografia.discList ">
            <app-discography-cover [cover]="disc.cover" [formation]="disc.originalFormation" [newClass]="original" (emitMessage)="setMessage($event)"></app-discography-cover>
        </div>
    </div>
</div>
