@import '../../../../styles/colors.scss';
.discography {
    display: flex;
    flex-direction: column;
    &-show-event {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
        margin: 30px 0;
    }
    &__container-name {
        color: $third-color;
        display: flex;
        flex-direction: row;
    }
    &-btn {
        background: none;
        outline: none;
        color: $third-color;
        cursor: pointer;
    }
}

.title__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-text {
        color: $third-color;
    }
}

.discography__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px;
    height: 420px;
    overflow-y: scroll;
    &-disc {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $primary-color;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: $third-color;
}
