@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/fonts.scss";
@import "../../../../src/styles/responsive.scss";
@import "../../../../src/styles/sizes.scss";
.navBar {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    @include tablet {
        height: 200px;
    }
    @include desktop {
        height: 150px;
    }
    &__container-icon {
        min-width: 80px;
        width: 40%;
        height: auto;
        margin-left: 90px;
    }
    &__img-logo {
        min-width: 80px;
        max-width: 80%;
        height: auto;
        @include tablet {
            width: 70%;
        }
        @include desktop {
            width: 40%;
        }
    }
    &__container-menu {
        width: auto;
        margin-right: 40px;
    }
    &__bg-icon {
        font-size: 50px;
        color: $fourth-color;
        @include tablet {
            display: none;
        }
    }
    &__list {
        list-style: none;
        font-family: $font-museoModern;
        display: none;
        @include tablet {
            display: flex;
            font-size: $header-size;
            margin-right: 40px;
        }
    }
    &__list-iten {
        margin: 0 30px;
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
            color: $fourth-color;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
