<div class="history__container">
    <h1 class="history__container-title">{{historia.title}}</h1>
    <div class="history__container-galery">
        <div *ngFor="let imagen of historia.imageHistory">
            <app-historia-galeria [img]="imagen"></app-historia-galeria>
        </div>
    </div>
    <app-historia-texto [history]="historia. textHistory"></app-historia-texto>
</div>
