@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
.history__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding: 30px;
    &-title {
        color: $third-color;
    }
    &-galery {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px;
    }
}
