@import '../../../../../styles/colors.scss';
.cover {
    border: 0;
    background: none;
    outline: none;
    &__image {
        width: 180px;
        height: 180px;
    }
    &__original-true {
        filter: drop-shadow(13px 13px 9px $secondary-color)
    }
}
