@import "../../../styles/colors.scss";
.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    margin-top: 100px;
    &-img {
        width: 500px;
        margin: 80px;
    }
    &-img:hover {
        filter: invert(100%);
    }
}

.discography {
    margin-bottom: 50px;
}
