<div class="home__container">
    <img class="home__container-img" src="{{home.homeImage.img}}" alt="{{home.homeImage.img}}">
    <app-historia></app-historia>
    <app-discografia class="discography"></app-discografia>
</div>
